.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    Text-align: center;
    border-radius: 1px; 
    color: darkslategrey;
}

h1 {
    color: white;
}
    
.Pokedex-winner {
    color:firebrick
}
.Pokedex-loser {
    color:green
}