.Pokecard {
    border: 1px solid grey;
    width: 300px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    background-color: white;
    border-radius: 10px;
}

.Pokecard-title {
    font-size: 80%;
    color: darkslategrey;
}

.Pokecard-data {
    
}
.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color:rgb(185, 185, 185);
    border-radius: 3px;
    margin-bottom: 1rm;
}
.Pokecard img {
    transition: all ease 500ms;
}
.Pokecard img:hover {
    transform: scale(1.25);
    opacity: 0.7;
}